 /* Slider container'ın genişliği ve yüksekliği */
 .slider-container {
    position: relative; /* Pozisyonu belirle */
    width: 80%; /* veya istediğiniz genişlik */
    max-width: 800px; /* veya istediğiniz maksimum genişlik */
    height: 300px;
    overflow: hidden;
    border: 1px solid #ddd; /* Kutucuk kenarlık rengi */
    border-radius: 8px; /* Kutucuk kenarlık yuvarlaklığı */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Kutucuk gölge efekti */
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.tutturulmus-konum {
    align-items: center;
    justify-content: center;
    top: 100px;
    right: auto;
    left: auto;
    position: relative;

}

.nav-altı-kategoriler{
    display: flex;
    justify-content: center; /* Sağdan sola uzat */
    align-items: center;
    background-color: rgb(85, 96, 106);
    height: 40px;
    padding-left: 20px; /* Sol iç boşluk */
    padding-right: 20px; /* Sağ iç boşluk */
    position: fixed;
    top: 56px; /* Navbar'ın yüksekliği kadar üstten bırak */
    width: 100%; /* Yatayda tam genişlik */
    z-index: 999; /* Diğer öğelerden üstte olma önceliği */

}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001   ; /* Navbar'ın üstte olmasını sağlar */
}

.anasayfa-kategori{

    border: 2px solid #ccc;
    border-radius: 35px;
    padding: 10px;
    margin: 150px 0;
}

.kategori-header h2 {
    color: #333; /* Metin rengini belirleyin */
    font-size: 24px; /* Metin boyutunu belirleyin */
    font-weight: bold; /* Metin kalınlığını belirleyin */
    margin-bottom: 10px; /* Metin altındaki boşluğu ayarlayın */
}

.d-flex.flex-wrap {
    margin-top: 20px; /* Kartlar ile üst arasındaki boşluğu ayarlayın */
}

.nav-altı-kategoriler-item {
    color: white;
    cursor: pointer;
}

.nav-altı-kategoriler-item:hover {
    transition: all 0.5s ease;
    color: #8f897a;
}

.dropdown-item:hover{

    transition: all 0.5s ease;
    color: #8f897a;
}

/* Slider içeriği için stil ayarları */
.swiper-slide {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #150202;
    border-radius: 8px;
}


/* Navigasyon düğmeleri ve sayfa noktaları için stil ayarları */
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
    position: absolute; /* Pozisyonu belirle */
    top: 50%; /* Yukarıdan mesafe */
    transform: translateY(-50%); /* Dikey hizalama */
    color: #150202;
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px; /* Düğme genişliği */
    height: 40px; /* Düğme yüksekliği */
    border-radius: 50%; /* Düğme yuvarlaklığı */
    cursor: pointer;
}

.swiper-button-next { right: 10px; } /* Sağdan mesafe */
.swiper-button-prev { left: 10px; } /* Soldan mesafe */

.swiper-pagination { right: 10px; } /* Sağdan mesafe */

/* Sayfa noktaları (pagination) için stil ayarları */
.swiper-pagination-bullet {
    width: 10px; /* Nokta genişliği */
    height: 10px; /* Nokta yüksekliği */
    margin: 0 5px; /* Noktalar arasındaki boşluk */
    border-radius: 50%; /* Nokta yuvarlaklığı */
    cursor: pointer;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   

}

.col-md-4.mb-4 .card-title {
    text-decoration: none;
}




.card-img-top {
    object-fit: contain;
    height: 250px; /* İstediğiniz yükseklik */
    width: 250px; /* İstediğiniz genişlik */
}
.card-text {
    max-height: 50px; /* İstediğiniz maksimum yükseklik */
    overflow:hidden;
    text-overflow: ellipsis; /* Aşırı uzun metinlerde "..." görüntüle */
    white-space: nowrap;

 /* Metni bir satıra sığdırma */

}

.card-body {
    color: #000; /* Metin rengini siyah yapabilirsiniz, istediğiniz rengi kullanabilirsiniz */
}

.card-body:hover {
    color: #ff9500; /* Fare üzerine geldiğinde bağlantı rengini değiştirin, istediğiniz rengi kullanabilirsiniz */
}


.pagination{
    display: flex;
    justify-content: center;
}
.kutu {
    background-color: #8194a8;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* İçeriğe biraz boşluk ekleyebilirsiniz */
    margin: 10px 150px 10px 150px;
}
.content {
    flex: 1;
    justify-content:center;
    height: 100vh; /* Sayfa yüksekliği kadar kutuyu dikeyde ortala */
}

.kutu-login {
    background-color: #8194a8;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 160px; /* İçeriğe biraz boşluk ekleyebilirsiniz */
    margin: 10px 150px 10px 150px;

}
.kayit {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    margin: 0 auto;
}

.kayit h2 {
    color: #343a40;

}

.kayit form {
    max-width: 500px;
    margin: 0 auto;
}
.login {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    margin: 0 auto;
}

.login h2 {
    color: #343a40;

}

.login form {
    max-width: 500px;
    margin: 0 auto;
}

.mb-3 {
    margin-bottom: 15px;
}

/* Dış Kutu (container) */
.detay {
    max-width: 70%; /* Ekranın %70'ini kaplayacak şekilde ayarlayın */
    margin: 100px auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; /* Dikeyde ortala */
}

/* İç Kutu (row) */
.detayrow {
    display: flex;
    justify-content: space-between;
}

/* Sol Tarafta Görsel */
.detay-resim {
    width: 50%; /* İstediğiniz genişliği ayarlayabilirsiniz */
    max-height: 100%; /* Yüksekliği sabit tut */
    overflow: hidden; /* Fazla resim içeriği kes */
    margin-right: 20px; /* Sağa 20 piksel boşluk bırak */
    
}

.detay-resim img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    border-color: #e44d26;
}

/* Sağ Tarafta Metin */
.icerik {
    width: 50%; /* İstediğiniz genişliği ayarlayabilirsiniz */
    margin-left: 20px; /* Sola 20 piksel boşluk bırak */
}

.icerik h2 {
    color: #333;
}

.icerik p {
    color: #555;
}

.icerik strong {
    color: #e44d26;
}

.buy-button,
.add-to-cart-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buy-button {
    background-color: #e44d26;
    color: #fff;
}

.buy-button:hover {
    background-color: #c73e1d;
}

.add-to-cart-button {
    background-color: #007bff;
    color: #fff;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}

        .hakkında-container {
            
            border: 2px solid #ddd; 
            padding: 20px;
            border-radius: 10px; 
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.6); 
            position: relative;
            
        }
        .sepet{
            justify-content: center;
            position:relative;
            border: 2px solid #ddd; 
            padding: 20px;
            margin-top: 100px;
            border-radius: 10px;
            border-color:red ;
            
        }
        
        .hakkında-container::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1d2832; /* veya başka bir renk */
            opacity: 0;
            transition: background-color 1s, opacity 1s; /* Virgülle ayrılarak birden fazla transition değeri ekleyin */
            z-index: -1;
        }
        
        .hakkında-container:hover::after {
            opacity: 0.2;
        }
        .sabit{   
             
        position:fixed;
        top: 20%;
        left: 10%;
        right: 10%;
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #343a40; /* İstediğiniz arkaplan rengi */
            color: white; /* İstediğiniz metin rengi */
            text-align: center; /* Metni ortala */
            z-index: 999;
        }
        .container-fluid.bg-dark.text-light .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .satinal-container {
            border: 2px solid #ccc;
            padding: 20px;
            margin-top: 20px;
        }
    
        .fiyat {
            font-size: 24px;
            font-weight: bold;
            color: #28a745; /* Yeşil renk */
        }

/* CSS kodu */
.welcome-message {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 10px;
}
/* CSS kodu */
.swiper-container {
    width: 80%;
    margin: auto;
}

.swiper-slide {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide:hover {
    transform: scale(1.05);
}

.swiper-slide img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-details {
    padding: 20px;
    text-align: center;
}

.product-details h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.price {
    font-weight: bold;
    color: #e44d26;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    font-size: 24px;
}

.swiper-pagination {
    bottom: 10px;
}



        










